
<CENTER><TABLE BORDER COLS=1 WIDTH="100%" BGCOLOR="#99FF99"><TR><TD><B><FONT COLOR="#993366" SIZE=+1> Example set (marked examples only) generated for language FRENCH at 12-2-2012 13:10:15 </FONT></B></TD></TR></TABLE></CENTER>
&nbsp;
<P>7 Examples in this selection.<FONT COLOR="#000000">
<P><P><B><U>Color Key</B></U></FONT><UL><FONT COLOR="#009900"><LI>Generated form matches the target</LI></FONT><FONT COLOR="#CC0000"><LI>Generated form does not match the target</LI></FONT><FONT COLOR="#999999"><LI>Failed to generate without user interaction</LI></FONT></UL><P><P>
<CENTER><TABLE BORDER COLS=3 WIDTH="95%" BGCOLOR="#FFFFCC">
  <TR><TD><B><FONT COLOR="#993366">TARGET</FONT></B></TD><TD><B><FONT COLOR="#993366">GENERATED</FONT></B></TD><TD><B><FONT COLOR="#993366">NAME</FONT></B></TD></TR>
<TR VALIGN=TOP>
<TD><FONT COLOR="#009900">Il voir
</FONT></TD>
<TD><FONT COLOR="#009900">Il voir
</FONT></TD>
<TD><FONT COLOR="#000000">INDICATIVE-PRESENT
</FONT></TD>
</TR>
<TR VALIGN=TOP>
<TD><FONT COLOR="#009900">Il avoir voir que
</FONT></TD>
<TD><FONT COLOR="#009900">Il avoir voir que
</FONT></TD>
<TD><FONT COLOR="#000000">INTERROGATIVE-COLLOQUIAL-PAST
</FONT></TD>
</TR>
<TR VALIGN=TOP>
<TD><FONT COLOR="#009900">Il voir que
</FONT></TD>
<TD><FONT COLOR="#009900">Il voir que
</FONT></TD>
<TD><FONT COLOR="#000000">INTERROGATIVE-COLLOQUIAL-PRESENT
</FONT></TD>
</TR>
<TR VALIGN=TOP>
<TD><FONT COLOR="#009900">Que est-ce que il avoir voir
</FONT></TD>
<TD><FONT COLOR="#009900">Que est-ce que il avoir voir
</FONT></TD>
<TD><FONT COLOR="#000000">INTERROGATIVE-COMMON-PAST
</FONT></TD>
</TR>
<TR VALIGN=TOP>
<TD><FONT COLOR="#009900">Que est-ce que il voir
</FONT></TD>
<TD><FONT COLOR="#009900">Que est-ce que il voir
</FONT></TD>
<TD><FONT COLOR="#000000">INTERROGATIVE-COMMON-PRESENT
</FONT></TD>
</TR>
<TR VALIGN=TOP>
<TD><FONT COLOR="#009900">Que avoir il voir
</FONT></TD>
<TD><FONT COLOR="#009900">Que avoir il voir
</FONT></TD>
<TD><FONT COLOR="#000000">INTERROGATIVE-FORMAL-PAST
</FONT></TD>
</TR>
<TR VALIGN=TOP>
<TD><FONT COLOR="#009900">Que voir il
</FONT></TD>
<TD><FONT COLOR="#009900">Que voir il
</FONT></TD>
<TD><FONT COLOR="#000000">INTERROGATIVE-FORMAL-PRESENT
</FONT></TD>
</TR>
</TABLE></CENTER>